{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/contact/list">Contacts</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        
      </li>
      <li class="nav-item">
        
      </li>
      <li class="nav-item">
       
      </li>
    </ul>
    <span class="navbar-text">
    	{{ request.user.username }}'s Address Book
      <a class="navbar-brand" href="/logout">Logout</a>
    </span>
  </div>
</nav>
<p>First Name:   {{ object.first_Name}}</p>
<p>Last Name:    {{ object.last_Name}}</p>
<p>Phone Number: {{ object.phone_number}}</p>
<p>Email:        {{ object.email}}</p>
<p>Address:      {{ object.address}}</p>
<p>Description:  {{ object.description}}</p>

<a href='{{request.path}}update'>Update</a>
<a href='{{request.path}}delete'>Delete</a>
  
{% endblock %}